[Desktop Entry]
Name=GstreamerCommands
Exec=/home/teledyne/module_control/start_gstCommands.sh
Terminal=true
Type=Application
Icon=/home/teledyne/module_control/teledyne.jpeg
Name=GstreamerCommands
